@font-face {
    font-family: "Strasua";
    src: url("fonts/strasua.eot");
    src: url("fonts/strasua.eot?#iefix") format("embedded-opentype"),
    url("fonts/strasua.ttf") format("truetype"),
    url("fonts/strasua.svg#JournalRegular") format("svg");
}

body {
    font-family:Ubuntu, san-serif;
    font-size: 12pt;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
hr   { border-top:none; border-left:none; border-right:none; border-bottom:1px dotted #ccc; color:#fff; margin-top:20px; }
a    { transition: all 0.4s linear; }
*:focus {
    outline: none !important;
}

/* font-sizers */
._phx-fs5x { font-size: 5em; }
._phx-fs4x { font-size: 4em; }
._phx-fs3x { font-size: 3em; }
._phx-fs2x { font-size: 2em; }
._phx-fs08x { font-size: .8em; }
._phx-fs05x { font-size: .5em; }

/* positions */
._phx-pos-inherit { position:inherit !important; }

/* widthers */
._phx-fwdth { width:100%; }

/* heighters */
._phx-height200 { height: 200px; }

/* aligners */
._phx-cntr  { text-align:center; }
._phx-left  { text-align:left; }
._phx-rght  { text-align:right; }

/* wrappers */
._phx-wrap15 { height: 15px; }
._phx-wrap25 { height: 25px; }
._phx-wrap50 { height: 50px; }
._phx-wrap75 { height: 75px; }
._phx-wrap100 { height: 100px; }

/* colors */
._phx-ccc   { color: #ccc; }
._phx-alert { color: rgba(220,53,69,.5); }

/* backgrounds */
._phx-transbg { background-color: transparent !important; }
._phx-bg-fc-linear { background: linear-gradient(to bottom, #fcfcfc , white); }

/* font-resizers */
._phx-fnt10 { font-size:10pt; }
._phx-fnt12 { font-size:12pt; }
._phx-fnt14 { font-size:14pt; }
._phx-fnt16 { font-size:16pt; }
._phx-fnt18 { font-size:18pt; }

/* font stylers */
._phx-italic { font-style: italic; }
._phx-bold { font-weight: bold; }
._phx-uline { text-decoration: underline; }

/* marginers */
._phx-nomrg { margin: 0px !important; }
._phx-novmrg { margin-top: 0px !important; margin-bottom: 0px !important; }
._phx-tmrg7 { margin-top:7px; }
._phx-bmrg7 { margin-bottom:10px; }

/* padders */
._phx-nopad { padding: 0px !important; }
._phx-nohpad { padding-left: 0px !important; padding-right: 0px !important;}
._phx-novpad { padding-top: 0px !important; padding-bottom: 0px !important; }
._phx-hpad15 { padding-left: 15px !important; padding-right: 15px !important;}
._phx-hpad25 { padding-left: 25px !important; padding-right: 25px !important;}
._phx-vpad15  { padding-top:15px; padding-bottom:15px; }
._phx-vpad30  { padding-top:30px; padding-bottom:30px; }

/* opacities */
._phx-opacity-2 { opacity:.2; }
._phx-opacity-5 { opacity:.5; }
._phx-opacity-8 { opacity:.8; }

/* borders */
._phx-brdrnone { border: none !important; }

/* shadows */
._phx-shadbot { box-shadow: 0 10px 7px -7px rgba(0, 0, 0, 0.14); }

.pheix-space a, .pheix-space a:visited {
    color:#f55555;
    border-bottom: 1px dotted #f55555;
    text-decoration:none;
}
.pheix-space a:hover, .pheix-space a:focus, .pheix-space a:active {
    color:#a00000;
    border-bottom: 1px dotted #a00000;
}
.pheix-canvas {
    min-height: 100vh;
    border-left: 2px solid #aaa;
    border-right: 2px solid #aaa;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.pheix-navy { height: 64px; z-index:999 !important; }
.pheix-content { min-height: calc( (100vh - 114px )); }
.pheix-footer {
    height: 50px;
    color:#aaa;
    font-size: 9pt;
    background-color: #f1f1f1;
    background-image: repeating-linear-gradient(135deg, transparent, transparent 5px, rgba(255,255,255,.3) 5px, rgba(255,255,255,.6) 10px);
}

.pheix-logotext { font-family: Strasua,san-serif; color: #505050; font-size : 24pt; text-decoration: none; font-weight: normal; }
.pheix-quote { background-color:#f5f5f5; white-space:nowrap; overflow-x:auto; }
.pheix-captcha { border: 1px solid #ccc; opacity: 0.8; width:88px; height:31px; }
.pheix-card {
    box-shadow: 0 0 7px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-size: cover !important;
}

.pheix-card-header {
    background: linear-gradient(to right, #f4f4f4 , #dedede);
    padding:15px;
    border-radius: 5px 5px 0 0;
    font-weight:bold;
    font-size:14pt;
    color: #444;
}

.pheix-card-body {
    padding:15px;
    border-radius: 0 0 5px 5px;
    color: #555;
    font-size:11pt;
    background-color:#fff;
}

.pheix-card-footer {
    padding:15px;
    border-radius: 0 0 5px 5px;
    color: #555;
    font-size:11pt;
    background-color:rgba(0,0,0,.7);
    color:#fff;
}

.pheix-to-top, .pheix-to-top:visited, .pheix-to-top:focus {
    display:none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    color: #444;
    font-size: 42pt;
    text-decoration: none !important;
    opacity:0.5;
}

.pheix-to-top:hover, .pheix-to-top:active { color:red; }

@media( min-width:110px ) {
    .pheix-render-block { display:block; }
    .pheix-item-delim { border-right: none; }
    .pheix-mob-fsz { font-size:14pt; }
    .pheix-footer { padding-top: 6pt; }
}

@media( min-width:370px ) {
}

@media (min-width:576px ) {
    .pheix-footer { padding-top: calc( ( 50px / 2 ) - 6pt ); }
    .pheix-render-block { display:inline-block; }
}

@media( min-width:768px ) { }

@media( min-width:992px ) {
    .pheix-item-delim { border-right: 1px solid #dadada; }
    .pheix-mob-fsz { font-size: 12pt; }
}

@media( min-width:120px ) {  }


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
